# Go module file
go.mod
# Go checksum file
go.sum

# Output files
*.exe
*.o
*.elf
*.dll
*.so
*.dylib
*.a

# IDE temp files
*.swp
*.swo

# IDE specific files
*.iml
*.ipr
*.iws

# IDE project files
*.idea
*.project
*.classpath
*.settings

# Test files
test_bloom_test.go
test_count_test.go

# Build artifact
go-bloom-filter

# Build script
Makefile